body {
  font-family: sans-serif;
  margin: auto;
  max-width: 1280px;
  text-align: center;
}


.about-me {
  text-align: center;

}
.withbg {
  background-image: url(../back.jpg);
  background-size: cover;
}

